@import url('https://fonts.cdnfonts.com/css/amazon-ember');
:root{
    --body-color:black;
    --text-color:white;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'Amazon Ember Display', sans-serif;
    font-weight: 700;
    font-size: large;
}



.scrollable-images-container {
    overflow-x: scroll;
    /* overflow: hidden; */
    white-space: nowrap;
    padding: 0;
}

.scrollable-images-container::-webkit-scrollbar {
    display: none;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    min-width: 18rem; 
    margin-right: 20px; 
    overflow: hidden;
    transition: transform 2s ease;
    position: relative;
    aspect-ratio:16/9
}

.card:hover{
    transform: scale(1.1) translateY(-30px); 
}

.card-details {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-wrap: wrap;
    font-size: smaller;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card:hover .card-details {
    display: block; 
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    height: 23rem;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
}

.carousel-caption .info h5 {
    font-size: 1.5rem;
}
.carousel-caption .info p {
    font-size: 1rem;
}
.carousel-caption .info button {
    margin-top: 10px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px; 
}

.custom-plus-size{
    font-size: 2rem;
}

.custom-col {
    margin-right: 1px; 
}


.more-details-button{
    background-color: white;
}

.number{
    font-size: 5rem;
    font-weight: bolder;
}

/* .card:hover{
    height: 380px;
} */


.slide-wrapper {
    overflow-x: scroll;
    width: 108rem; 
    white-space: nowrap; 
}

.slide-wrapper::-webkit-scrollbar {
    display: none;
}

.slide-container {
    display: inline-block; 
    transition: transform 0.5s ease-in-out;
    white-space: nowrap; 
    height: 30rem; 
}

.slide-card {
    width: 230px;
    height: 30rem;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block; 
    vertical-align: top; 
    transition: width 0.6s cubic-bezier(.28,-0.03,0,0.99), transform 0.6s cubic-bezier(.28,-0.03,0,0.99); /* Smooth transition */
    background-color: white;
}

.slide-card:hover {
    width: 50rem;
}

.slide-card > .row {
    width: 100%;
    background-color: white;
    color: black; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

input {
    display: none;
}
