@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --body-color:black;
    --text-color:white;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}



.scrollable-images-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.scrollable-images-container::-webkit-scrollbar {
    display: none;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    min-width: 18rem; 
    margin-right: 20px; 
    overflow: hidden;
    transition: transform 2s ease;
    position: relative;
    aspect-ratio:16/9
}

.card:hover{
    transform: scale(1.1) translateY(-30px); 
}

.card-details {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-wrap: wrap;
    font-size: smaller;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card:hover .card-details {
    display: block; 
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    height: 23rem;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
}

.carousel-caption .info h5 {
    font-size: 1.5rem;
}
.carousel-caption .info p {
    font-size: 1rem;
}
.carousel-caption .info button {
    margin-top: 10px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px; 
}

.custom-plus-size{
    font-size: 2rem;
}

.custom-col {
    margin-right: 1px; 
}


.more-details-button{
    background-color: white;
}

.number{
    font-size: 5rem;
    font-weight: bolder;
}

/* .card:hover{
    height: 380px;
} */

.slide-container {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
    padding: 10px;
}

.slide-card {
    width: 50rem;
    height: 30rem;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(.28,-0.03,0,0.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    background-color: white
}

.slide-card > .row {
    width: 100%;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

input {
    display: none;
}

input:checked + label {
    width: 200rem;
}

.slide-card[for="c1"]{
    background-image: url(../images/guruvayoor.png);
}




