@import url('https://fonts.cdnfonts.com/css/amazon-ember');
:root{
    --body-color:black;
    --text-color:white;
}

body{
    /* background-color: var(--body-color); */
    color: var(--text-color);
    font-family: 'Amazon Ember Display', sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: white;
}



.scrollable-images-container {
    overflow-x: scroll;
    /* overflow: hidden; */
    white-space: nowrap;
    padding: 0;
}

.scrollable-images-container::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 8px;
    min-width: 18rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    aspect-ratio: 16/9;
    display: inline-block;
    vertical-align: top;
}

.card:hover {
    /* transform: scale(1.1);
    z-index: 2; */
    border-radius: 8px 8px 0 0;
}

.card:hover .card-details{
    transform: scale(1.1);
    z-index: 2;
}

.test-container:hover{
    transform: scale(1.1);
    z-index: 2;
}

.card-details {
    /* display: none; */
    background-color: black;
    border-radius: 0 0 8px 8px;
    width: inherit;
    padding: 10px;
    position: absolute;
    /* left: 3rem; */
    transition: opacity 0.3s ease;
    
}

.card-details-test{
      background-color: black;
      border-radius: 0 0 8px 8px;
      width: auto;
      display: block;
      padding: 10px;
      position: absolute;
      transition: opacity 0.3s ease;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.carousel-item {
    position: relative;
    height: 23rem;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
}

.carousel-caption .info h5 {
    font-size: 1.5rem;
}
.carousel-caption .info p {
    font-size: 1rem;
}
.carousel-caption .info button {
    margin-top: 10px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
}

.carousel-indicators li:not(:last-child) {
    margin-right: 10px; 
}

.custom-plus-size{
    font-size: 2rem;
}

.custom-col {
    margin-right: 1px; 
}


.more-details-button{
    background-color: white;
}

.number{
    font-size: 5rem;
    font-weight: bolder;
}

/* .card:hover{
    height: 380px;
} */


.slide-wrapper {
    width: 100%; 
    height: 30rem; 
    overflow-y: scroll;
}

.slide-wrapper::-webkit-scrollbar {
    display: none;
}

.slide-container {
    display: inline-block; 
    transition: transform 0.5s ease-in-out;
    white-space: nowrap; 
    height: 30rem; 
    position: relative;
}

.slide-card {
    width: 20rem;
    height: 30rem;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block; 
    vertical-align: top; 
    transition: transform 0.6s cubic-bezier(.28,-0.03,0,0.99);
    background-color: white;
    transform-origin: left;
}

.slide-card:hover {
    transform: scaleX(2);
    z-index: 1; 
    
}

.slide-card:hover ~ .slide-card {
    transform: translateX(230px);
    margin-right: 20px;  
}

.slide-card > .row {
    width: 100%;
    background-color: white;
    color: black; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

input {
    display: none;
}
