body {
  background-color: black;
}
.first {
  margin: 0 25px;
}
.first h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Custom CSS for rounded carousel indicators */
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
}
.carousel-indicators .active {
  background-color: white;
}

.carousel-indicators {
  bottom: -45px; /* Adjust position of indicators as needed */
}

/* Custom positioning for carousel controls */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust the width to control how close to the edge */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 70%, 70%;
}
.carousel-item img {
  height: 70dvh;
}

/* carousel caption styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust as needed */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
  }

.carousel-caption {
  top: 33%;
  left: 4%;
  transform: translateY(-20%);
}
.rounded-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.btn {
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.3);
}

/* Position the popup text above the +/i button */
.popup-text {
  display: none;
  position: absolute;
  top: -25px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: xx-small;
}

/* Show the popup text when the "+/i" button is hovered over */
.btn:hover .popup-text {
  display: block;
}

.carousel-caption .btn .bi {
  margin-right: 0.5rem;
}

.carousel-caption .badge {
  font-size: 0.9rem;
}

/* Custom styles for rounded buttons */
.carousel-caption .btn-secondary {
  background-color: #6c757d; /* Same background color as U/A 16+ badge */
  border-color: #6c757d;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Footer styling */
footer{
  margin-top: 50vh;
}
.color-blue {
  color: #79b8f3;
}
.color-storm-petrel {
  color: #8197a4;
}

#brand-logo {
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 78%;
}
